# --- Security: Keys & Secrets (CRITICAL) ---
client_secret.json
user_token.json
.env
secrets.toml
*.pem
*.key

# --- Python & System ---
__pycache__/
*.pyc
.DS_Store
.venv
venv/
env/
.idea/
.vscode/


# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/
ipython_config.py

handlers/*
config/*
charts/*
data_sources/*
data/*
!data/.gitkeep
!data/example_data.csv 
!data_sources/example_data.csv 

# Бэкапы и временные файлы
data/backups/
config/backups/